
<main class="mt-5">
    <div id="carouselExampleDark" class="carousel carousel-dark slide container">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Diapositiva 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Diapositiva 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Diapositiva 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" role="img" aria-label="Marcador de posición: Primera diapositiva" focusable="false" preserveAspectRatio="xMidYMid slice" xmlns="http://www.w3.org/2000/svg">
                    <title>Marcador de posición</title>
                    <rect width="100%" height="100%" fill="#f5f5f5"></rect>
                    <text x="50%" y="50%" fill="#aaa" dy=".3em">Primera diapositiva</text>
                </svg>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Primera etiqueta de diapositiva</h5>
                    <p>Algún contenido de marcador de posición representativo para la primera diapositiva.</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" role="img" aria-label="Marcador de posición: Segunda diapositiva" focusable="false" preserveAspectRatio="xMidYMid slice" xmlns="http://www.w3.org/2000/svg">
                    <title>Marcador de posición</title>
                    <rect width="100%" height="100%" fill="#eee"></rect>
                    <text x="50%" y="50%" fill="#bbb" dy=".3em">Segunda diapositiva</text>
                </svg>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Etiqueta de la segunda diapositiva</h5>
                    <p>Algún contenido de marcador de posición representativo para la segunda diapositiva.</p>
                </div>
            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" role="img" aria-label="Marcador de posición: Tercera diapositiva" focusable="false" preserveAspectRatio="xMidYMid slice" xmlns="http://www.w3.org/2000/svg">
                    <title>Marcador de posición</title>
                    <rect width="100%" height="100%" fill="#e5e5e5"></rect>
                    <text x="50%" y="50%" fill="#999" dy=".3em">Tercera diapositiva</text>
                </svg>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Etiqueta de la tercera diapositiva</h5>
                    <p>Algún contenido de marcador de posición representativo para la tercera diapositiva.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
        </button>
    </div>


</main>


